<app-navbar></app-navbar>

<section id="banner-section" class="hero">
  <div class="inner">
    <div class="banner-text">
      <h1>Find a Babysitter</h1>
      <p>
        A hand selected network of babysitters and child care professionals
        providing occasional care in homes, hotels, at events, on vacation, or
        when traveling.
      </p>
      <button mat-raised-button color="accent" routerLink="/sitters" id="btnFindSitter">
        Find a BabySitter
      </button>
    </div>
  </div>
</section>

<link
  href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Noto+Sans"
  rel="stylesheet"
  type="text/css"
/>
